header {
    height: 20vh;
    width: 100%;
}
/*udacity logo*/
header>img{
    width: 10%;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}
header>.intro{
    float: right;
    /* margin: 1em; */
}
#mainImage>img{
    margin-right: auto;
    width:100%;
}
#featured {
    text-align: center;
    margin-top: 15px;
}
#featuredWorkText {
    font-family: cursive, Helvetica, sans-serif;
    color: white;
    font-weight: 100;
    font-size: 50px;
    background-color: black;
    border-radius: 5%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.projects {
    margin-top: 25px;
}
.blue {
    color: #027BFF;
  }
.head {
    font-family: cursive,monto, sans-serif;
   	 margin: 2% 6% 2% 18%;
   	 text-align: right;
    width: 85%;
    letter-spacing: 0.7px;
    text-shadow: 2px 1px 1px rgba(0,0,0,0.5);
}
.projectPixel , .projectAnimal , .projectJeevan {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    border: 1px solid orange;
    border-radius: 2%;
    padding: 2px;
    margin-bottom: 3%;
}
.projectPixel:hover , .projectAnimal:hover , .projectJeevan:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    border: none;
}
@media screen and (min-width:600px){
.projects {
    display: flex;
    clear: both;
}
}
@media screen and (max-width:768px){
header>img{
    width: 15%;
}
.head{
    font-size: 2.3em;
}
}
@media screen and (max-width:568px){
.head{
    font-size: 1.4em;
}
}
#footer p {
    font-size: 1.2em;
    padding: 10px;
    margin: 0;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    text-align: center;
}
#footer {
    margin: 19px;
}