* {
    padding: 0;
    margin: 0;
}
/*This styles name*/
.head {
    font-family: monto, sans-serif;
   	 margin: 2% 4% 2% 22%;
   	 text-align: right;
    width: 80%;      
}
.udaLogo {
	   width: 20%;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 2%;
}
.udaLogo img {
		 width: 50px;
    border: none; /*border set to none because all image is designed*/
}	
#featured {
    margin: 5% 2% 4% 2%;
		 text-align: left;
}
#featuredWorkText {
    color: #777777;
    margin-bottom: 4%;
}
h3 {
    text-align: center;
		 margin: 1% 2%;
}
img {
			 width: 300px;
			 border: black solid 1px;
}
#mainImage img {
     width: 100%;
     margin-left: 2%;
     margin-right: 2%;
}
#footer p {
     margin: 5% 4% 5% 6%;
}
			/* For Mobile View*/
@media screen and (max-width: 565px) {
.projects {
    width: 100%;
		 margin-left: 6%;
}
#featuredWorkText {
    margin-left: 6%;
}
/*Thess mostly aligns hyperlinks*/
.projectAnimal , .projectJeevan , .projectPixel {
    margin-top: 8%;
}}
/* For Desktop view */
@media screen and (min-width: 765px){
h2 {
    font-size: 1.7em;
}
.head {
			font-size: 2.5em;
}
#featured {
			font-size: 1.5em;
}
.projectName {
			margin 1em 1em;
}
#footer p {
    font-size: 1.2em;
}
.projects  {
		 width: 100%;
    display: flex;
	  flex-wrap: wrap;
}
.projectPixel , .projectJeevan {
    width: 33%;
}
.projectAnimal {
			width: 34%;
}}